CollegeA_SQLServer/xsd/choiceA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 学院A (SQL Server) 原生格式 - 选课信息 XSD Schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="Choices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="choice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Sno" type="xs:string">
                <xs:annotation><xs:documentation>学号 VARCHAR(8)</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="Cno" type="xs:string">
                <xs:annotation><xs:documentation>课程号 VARCHAR(12)</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="Grd" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>成绩 VARCHAR(3)</xs:documentation></xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
