CollegeA_SQLServer/xsd/formatStudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 标准集成格式 - 学生信息 XSD Schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string">
                <xs:annotation><xs:documentation>学号</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="name" type="xs:string">
                <xs:annotation><xs:documentation>姓名</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="sex" type="SexType" minOccurs="0"/>
              <xs:element name="major" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>专业/系别</xs:documentation></xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="SexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="男"/>
      <xs:enumeration value="女"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
