CollegeA_SQLServer/xsd/studentA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 学院A (SQL Server) 原生格式 - 学生信息 XSD Schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Sno" type="xs:string">
                <xs:annotation><xs:documentation>学号 VARCHAR(12)</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="Snm" type="xs:string">
                <xs:annotation><xs:documentation>姓名 VARCHAR(10)</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="Sex" type="SexTypeA" minOccurs="0"/>
              <xs:element name="Sde" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>专业 VARCHAR(10)</xs:documentation></xs:annotation>
              </xs:element>
              <xs:element name="Pwd" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>密码 VARCHAR(10)</xs:documentation></xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="SexTypeA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
